body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  font-size: 35px;
}

h3 {
  color: #FFFFFF;
  text-align: left;
  font-size: 30px;
}

body {
  background-color: #4169E1;
}

li {
  color: #FFFFFF;
  text-align: left;
  font-size: 25px;
}

button {
	height: 80px;
	width: 160px;
	font-size: 25px;
}

img {
  border-radius: 20px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  width: 630px;
  height: 630px;
}