body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 35px;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  font-size: 25px;
}

h3 {
  color: #FFFFFF;
  text-align: left;
  font-size: 20px;
}

body {
  background-color: #4169E1;
}

li {
  color: #FFFFFF;
  text-align: left;
  font-size: 20px;
}
button {
	height: 60px;
	width: 200px;
	font-size: 20px;
}